<p-card>
    <h5>Comments (2)</h5>
    <p-divider />
    <section class="flex gap-2 items-center justify-start w-full mb-3">
        <p-button icon="pi pi-face-smile" severity="secondary" text />
        <p-button icon="pi pi-at" severity="secondary" text />
        <input type="text" class="grow" pInputText placeholder="Add a comment" />
        <p-button icon="pi pi-send" />
    </section>
    <section class="space-y-3">
        <div class="nested-comments">
            <div class="flex gap-3">
                <p-avatar class="aspect-square" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal" shape="circle" />
                <div>
                    <p class="mb-0 grow flex gap-3 items-center">
                        <span class="font-bold line-clamp-1 text-lg">Some`one name</span>
                        <span class="text-slate-400 text-sm">22 April 2025</span>
                    </p>
                    <p class="mb-0">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsum dolores accusamus cupiditate aperiam ab, vel obcaecati voluptatum quidem nam, eveniet earum soluta dolorem in quod sit doloremque eum voluptatem!
                    </p>
                    <div>
                        <p-button icon="pi pi-reply" severity="secondary" label="Reply" text />
                        <p-button icon="pi pi-thumbs-up" severity="secondary" label="0" text />
                        <p-button icon="pi pi-thumbs-down" severity="secondary" label="0" text />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-3">
            <p-avatar class="aspect-square" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal" shape="circle" />
            <div>
                <p class="mb-0 grow flex gap-3 items-center">
                    <span class="font-bold line-clamp-1 text-lg">Some`one name</span>
                    <span class="text-slate-400 text-sm">22 April 2025</span>
                </p>
                <p class="mb-0">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsum dolores accusamus cupiditate aperiam ab, vel obcaecati voluptatum quidem nam, eveniet earum soluta dolorem in quod sit doloremque eum voluptatem!
                </p>
                <div>
                    <p-button icon="pi pi-reply" severity="secondary" label="Reply" text />
                    <p-button icon="pi pi-thumbs-up" severity="secondary" label="0" text />
                    <p-button icon="pi pi-thumbs-down" severity="secondary" label="0" text />
                </div>
            </div>
        </div>
    </section>
</p-card>
