<div class="fixed flex gap-4 top-8 right-8">
    <p-button
        type="button"
        (onClick)="toggleDarkMode()"
        [rounded]="true"
        [icon]="isDarkTheme() ? 'pi pi-moon' : 'pi pi-sun'"
        severity="secondary"
    />
    <div class="relative">
        <p-button
            type="button"
            class="layout-topbar-action layout-topbar-action-highlight"
            (click)="theme.toggle($event)"
            [rounded]="true"
            [icon]="'pi pi-palette'"
        />
        <p-popover #theme styleClass="w-72! translate-x-3! translate-y-0! custom-no-pseudo">
            <ng-template #content>
                <app-configurator />
            </ng-template>
        </p-popover>
    </div>
</div>
