<button pButton pRipple type="button" icon="pi pi-search" (click)="visible = true" class="p-button p-component p-button-text p-button-icon-only"></button>
<p-drawer [(visible)]="visible" [styleClass]="fullScreen ? '!w-full' : '!w-full lg:!w-[45rem]'" [closable]="false" position="right" [fullScreen]="fullScreen">
    <ng-template #header>
        <header class="self-end flex items-center justify-between w-full">
            <p-button icon="pi pi-arrow-up-right-and-arrow-down-left-from-center" severity="secondary" variant="outlined" text (click)="fullScreen = !fullScreen" />
            <div class="flex gap-2">
                <p-button icon="pi pi-pen-to-square" severity="secondary" variant="outlined" text />
                <p-button icon="pi pi-external-link" severity="secondary" variant="outlined" text />
                <p-button icon="pi pi-times" severity="secondary" variant="outlined" text (click)="visible = false" />
            </div>
        </header>
    </ng-template>
    <app-task-details [isQuickView]="!fullScreen"></app-task-details>
</p-drawer>
