<div class="card">
    <div class="flex flex-wrap justify-between items-center mb-3 gap-2">
        <div class="flex justify-start gap-2 sm:w-fit w-full sm:flex-row flex-col-reverse">
            <div class="flex gap-2 max-w-full">
                <p-button icon="pi pi-plus" label="Add New" />
                <app-filter-popover></app-filter-popover>
            </div>
            <div class="shrink">
                <p-iconfield iconPosition="left">
                    <input pInputText type="text" placeholder="Search" class="w-full" />
                    <p-inputicon class="pi pi-search" />
                </p-iconfield>
            </div>
        </div>
    </div>

    <app-day-view></app-day-view>
</div>
