@for (item of model; track $index) {
    <div class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-bold mb-4">{{ item.title }}</span>
                    <div class="flex gap-3 items-center">
                        <div class="text-surface-900 dark:text-surface-0 font-bold text-3xl">{{ item.value | number }}</div>
                        @if (item.state === 'asc') {
                            <p-tag severity="success">
                                <i class="pi pi-arrow-up-right text-sm!"></i>
                                <span>{{ item.proportion }}%</span>
                            </p-tag>
                        } @else {
                            <p-tag severity="danger">
                                <i class="pi pi-arrow-down-left text-sm!"></i>
                                <span>{{ item.proportion }}%</span>
                            </p-tag>
                        }
                    </div>
                </div>
            </div>
            <span class="text-muted-color">{{ item.description }}</span>
        </div>
    </div>
}
